html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  color: white;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

.container {
  padding: 50px 100px;
}

:root {
  --black: #100f15;
  --white: #ffffff;
  --gray: #f5f5f5;
  --yellow: #fd01a7;
  --pink: #5d3bad;
  --purple: #5d3bad;
  --linear-gradient: linear-gradient(
    98.62deg,
    #a93185 -27.91%,
    #5d3bad 102.96%
  );
  --glass: rgba(55, 55, 55, 0.3);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
